
<div layout="column">
	<md-content class="md-padding">
        <h1 style="text-align: center; color: gray; margin-top: 30px;">{{message}}</h1> 
    </md-content>
    <md-content class="md-padding" style="margin-top: 40px;">
		<div layout="row" layout-align="center center">
			<div layout="column" layout-align="50" flex="50" flex-sm="80">
				 <md-button style="height:50px; "class="md-raised md-primary" ng-click="runQuestion()">Iniciar Pregunta</md-button>
			</div>
		</div>
	</md-content>
	<md-content class="md-padding">
		<div layout="row" layout-align="center center">
			<div layout="column" layout-align="50" flex="50" flex-sm="80">
				 <md-button style="height:50px;" class="md-raised md-primary" ng-click="leaveRoom()">Cerrar Sesión</md-button>
			</div>
		</div>
	</md-content>
	<!-- <md-content class="md-padding">
        <h2 style="text-align: center; color: gray; margin-top: 60px;">{{usersConnected}}</h2> 
    </md-content> -->
</div>



