  <div layout="row">
    <div layout="column" flex="50" layout-align="center start">
        <h2 style="margin-left: 10px;">{{usersVoters}} {{randomNumber}}</h2>
    </div>
    <!-- <div layout="column" flex="50" layout-align="center end">
        <h2 style="margin-right: 10px;">{{ minsLbl }}{{ dotsLbl }}{{ secsLbl }}</h2>
    </div> -->
</div>
<div layout="row" layout-align="center center">
  <div layout="column" flex="30" flex-sm="100" flex-md="70" flex-gt-md="50" flex-lg="45" flex-gt-lg="35">
   	<div style="height: 100%;">
        <nvd3-discrete-bar-chart
          data="exampleData" id="exampleId" width="400" height="400" tooltips="false" showXAxis="true" showYAxis="false" showValues="false">
          <svg style="margin-top: -20px"></svg>
        </nvd3-discrete-bar-chart>
 	</div>
</div>




  






