<div layout="column">
	<md-content class="md-padding">
        <!-- <h1 style="text-align: center; color: gray; margin-top: 10%;">{{ messageInfo }}</h1>  -->
    </md-content>
    <md-content class="md-padding">
		<div layout="row" layout-align="center center">
			<div layout="column">
				 <!-- <span class="ouro">
		            <span class="left"><span class="anim"></span></span>
		            <span class="right"><span class="anim"></span></span>
		          </span> -->
		          <h2 style="text-align: center; color: gray; margin-top: 20%;">{{ messageInfo }}</h2> 
			</div>
		</div>
	</md-content>
</div>
<style type="text/css">
md-toast.Toast {
  background-color: rgb(33,150,243);
  font-size: 20px;
}
</style>